.small-img-box {
	width: 150px;
	height: 150px;
}

.hr-danger {
	height: 4px;
	margin-top: 2rem;
  	margin-bottom: 1rem;
  	border: 1;
  	border-top: 1px solid rgba(0, 0, 0, 0.1);
  	background-color: rgba(244,67,54,.8);
}