$dimgray: #696969;
$lightgray: #d3d3d3;
$black: #000000;
$white: #ffffff;



body {
  background-color: red;
  padding: 20px;
  margin: 0;
}

{/* # is an ID and can be applied to one element per page */}
#user-profile {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	color: #5090C5;
	text-align: center;
	overflow: hidden;
	background-color: #121316;
}

{/* . is an class and can be applied to many elements */}
.avatar {
	border-radius: 50%;
	overflow: hidden;
	display: inline-flex;
	margin-bottom: 15px;
	img {
		width:100%;

	}
}

.top {
	padding: 50px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: firebrick;
  padding: 0;
}

ul.header li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.color-sevilla 
{
	background-color: #FEC71D;
	border-color: #FEC71D;
}

.form-container {
	width: 100%;
	max-width: 500px;
	padding: 20px;
	margin: auto;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

{/* without either it is a tag targeting all the usage */}
